<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../css/style.css">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/vendor.css">
	<link rel="stylesheet" href="/css/main2.css">
  <title>
  </title>
  <style>
    body {
      background-color: #f5f5f5 !important;
    }
    .active {
      font-weight: bold;
    }
  </style>
</head>

<body>
    <div class="main-content">
      <h1>
        Upload Image
      </h1>

      <form action="/admin/page/image" method="post" style="display: block; width: 90%" id="uploadForm" enctype="multipart/form-data">


        <input type="file" id="fileInput" name="image" accept="image/*">
        <br>

        <button type="submit">Upload Image</button>
      </form>
    </div>
</body>

</html>
<script>
  document.getElementById("uploadForm").addEventListener("submit", async function (event) {
    event.preventDefault();

    const formData = new FormData(this);

    try {
        const response = await fetch("/admin/page/image", {
            method: "POST",
            body: formData
        });

        const result = await response.json();
        alert("Plik i dane zostały wysłane: " + JSON.stringify(result));
        if (result.redirectUrl) {
            window.location.href = result.redirectUrl;
        }
    } catch (error) {
        console.error("Błąd przesyłania:", error);
    }
});

</script>
<style>


  #content {
    height: 400px;
    width: 100%;
  }
  #sectionSelect {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

#sectionSelect option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}
#sectionSelect option:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
</style>