<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../css/style.css">
  <link href="/css/quill.snow.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/vendor.css">
	<link rel="stylesheet" href="/css/main2.css">
  <title>
    <%= title %>
  </title>
  <style>
    body {
      background-color: #f5f5f5 !important;
    }
    .active {
      font-weight: bold;
    }
  </style>
</head>

<body>
    <div class="main-content">
      <h1>
        <%= title %>
      </h1>

      <form action="/admin/page" method="post" style="display: block; width: 90%" id="uploadForm" enctype="multipart/form-data">
        <label for="sectionSelect">Wybierz sekcję:</label>
      <select id="sectionSelect" name="section" id="section">
          <option value="PRAWO BANKOWE">PRAWO BANKOWE</option>
          <option value="PRAWO RODZINNE">PRAWO RODZINNE</option>
          <option value="PRAWO SPADKOWE">PRAWO SPADKOWE</option>
          <option value="PRAWO CYWILNE">PRAWO CYWILNE</option>
          <option value="PRAWO PRACY">PRAWO PRACY</option>
          <option value="PRAWO ADMINISTRACYJNE">PRAWO ADMINISTRACYJNE</option>
          <option value="ODSZKODOWANIA">ODSZKODOWANIA</option>
          <option value="PRAWO HANDLOWE">PRAWO HANDLOWE</option>

      </select>
        <label for="title">Tytuł strony:</label>
        <input type="text" id="title" name="title" required style="width: 99%; padding: 10px 0px" />

        <input type="file" id="fileInput" name="image" accept="image/*">

        <label for="content">Treść strony:</label>
        <div id="editor">
          <p>Hello World!</p>
          <p>Some initial <strong>bold</strong> text</p>
          <p><br></p>
        </div>
        <button type="button" id="toggleTextarea">Show original HTML</button>
        <textarea id="content" name="content" rows="10" required style="display: none;"></textarea>

        <br><br>
        <button type="submit">Dodaj Stronę</button>
      </form>
    </div>
</body>

</html>
<script src="/js/quill.js"></script>
<script>
  document.getElementById("uploadForm").addEventListener("submit", async function (event) {
    event.preventDefault();

    const formData = new FormData(this);

    try {
        const response = await fetch("/admin/page", {
            method: "POST",
            body: formData
        });

        const result = await response.json();
        alert("Plik i dane zostały wysłane: " + JSON.stringify(result));
        if (result.redirectUrl) {
            window.location.href = result.redirectUrl;
        }
    } catch (error) {
        console.error("Błąd przesyłania:", error);
    }
});

  var quill = new Quill('#editor', {
    theme: 'snow'
  });

  var toggleButton = document.getElementById('toggleTextarea');
  var textarea = document.getElementById('content');

  toggleButton.addEventListener('click', function () {
    if (textarea.style.display === 'none') {
      textarea.style.display = 'block';
      quill.container.style.display = 'none';
    } else {
      textarea.style.display = 'none';
      quill.container.style.display = 'block';
    }
  });
  quill.on('text-change', function (delta, oldDelta, source) {
    if (source === 'user') {
      textarea.value = quill.root.innerHTML;
    }
  });

  textarea.value = quill.root.innerHTML;
</script>
<style>
  #editor {
    min-height: 400px;
  }

  #content {
    height: 400px;
    width: 100%;
  }
  #sectionSelect {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

#sectionSelect option {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
}
#sectionSelect option:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
</style>