<!-- portfolio
   ================================================== -->
<section id="blog">

  <div class="row narrow section-intro with-bottom-sep">
    <div class="col-twelve">
      <!-- <h3 class="animate-this">Blog</h3> -->
      <h1 class="animate-this">Blog</h1>

      <p class="lead animate-this">Poniższe artykuły blogowe przybliżą Państwu zagadnienia prawne objęte opisywanym tematem.
        Na blogu znajdą Państwo szereg informacji i&nbsp;porad, które mogą okazać się przydatne w&nbsp;rozwiązaniu problemów
        prawnych.
      </p>
      <p class="lead animate-this" style="color: #242424;">Jeśli potrzebują Państwo profesjonalnej, zindywidualizowanej porady
        prawnej – zapraszam do kontaktu z kancelarią.
      </p>
    </div>
  </div> <!-- end row section-intro -->

  <div class="row portfolio-content">
    <div class="col-twelve">
      <div id="folio-wrap" class="bricks-wrapper">
         <!-- start folio-item -->
         <!-- JAK ODZYSKAĆ KOSZTY KREDYTU OD PKO BP?
         <div class="brick folio-item">
            <div class="item-wrap animate-this" data-src="/images/franki-pko.jpg" data-sub-html="#01">
              <a href="/blog/jak-odzyskac-koszty-kredytu-pko-bp" class="overlay">
                <img src="/images/franki-pko.jpg" alt="JAK ODZYSKAĆ KOSZTY KREDYTU OD PKO BP?
          ">
                <div class="item-text">
                  <span class="folio-types">
                    Prawo bankowe
                  </span>
                  <h3 class="folio-title">JAK ODZYSKAĆ KOSZTY KREDYTU OD PKO BP?
                  </h3>
                </div>
              </a>
            </div>
          </div>  end folio-item -->

           <!-- start folio-item -->
         <!-- JAK UNIEWAŻNIĆ KREDYT/POŻYCZKĘ WE FRANKACH SZWAJCARSKICH CHF?
 -->
         <div class="brick folio-item">
            <div class="item-wrap animate-this" data-src="/images/uniewaznic-franki.jpg" data-sub-html="#01">
              <a href="/blog/uniewaznic-kredyt-frankowy" class="overlay">
                <img src="/images/uniewaznic-franki.jpg" alt="JAK UNIEWAŻNIĆ KREDYT/POŻYCZKĘ WE FRANKACH SZWAJCARSKICH CHF?
          ">
                <div class="item-text">
                  <span class="folio-types">
                    Prawo bankowe
                  </span>
                  <h3 class="folio-title">JAK UNIEWAŻNIĆ KREDYT/POŻYCZKĘ WE FRANKACH SZWAJCARSKICH CHF?
                  </h3>
                </div>
              </a>
            </div> <!-- end item-wrap -->
          </div> <!-- end folio-item -->

         <!-- start folio-item -->
         <!-- ILE KOSZTUJE SPRAWA FRANKOWA? -->
         <div class="brick folio-item">
            <div class="item-wrap animate-this" data-src="/images/ile-kosztuja-franki.jpg" data-sub-html="#01">
              <a href="/blog/ile-kosztuje-sprawa-frankowa" class="overlay">
                <img src="/images/ile-kosztuja-franki.jpg" alt="ILE KOSZTUJE SPRAWA FRANKOWA?
          ">
                <div class="item-text">
                  <span class="folio-types">
                    Prawo bankowe
                  </span>
                  <h3 class="folio-title">ILE KOSZTUJE SPRAWA FRANKOWA?
                  </h3>
                </div>
              </a>
            </div> <!-- end item-wrap -->
          </div> <!-- end folio-item -->

         <!-- JAK PRZEBIEGA ROZPRAWA W SPRAWIE FRANKOWEJ? JAK PRZYGOTOWAĆ SIĘ DO ROZPRAWY? JAKIE PYTANIA NAJCZĘŚCIEJ ZADAJE SĄD LUB PEŁNOMOCNICY? -->
         <div class="brick folio-item">
            <div class="item-wrap animate-this" data-src="/images/franki.jpg" data-sub-html="#01">
              <a href="/blog/sprawa-frankowa" class="overlay">
                <img src="/images/franki.jpg" alt="JAK PRZEBIEGA ROZPRAWA W SPRAWIE FRANKOWEJ? JAK PRZYGOTOWAĆ SIĘ DO ROZPRAWY? JAKIE PYTANIA NAJCZĘŚCIEJ ZADAJE SĄD LUB PEŁNOMOCNICY?
          ">
                <div class="item-text">
                  <span class="folio-types">
                    Prawo bankowe
                  </span>
                  <h3 class="folio-title">JAK PRZEBIEGA ROZPRAWA W SPRAWIE FRANKOWEJ? JAK PRZYGOTOWAĆ SIĘ DO ROZPRAWY?
                  </h3>
                </div>
              </a>
            </div> <!-- end item-wrap -->
          </div> <!-- end folio-item -->

        <!-- start folio-item -->
         <!-- WYMELDOWANIE BEZ ZGODY OSOBY ZAMELDOWANEJ – KIEDY JEST MOŻLIWE? -->
         <div class="brick folio-item">
            <div class="item-wrap animate-this" data-src="/images/zgon.jpg" data-sub-html="#01">
              <a href="/blog/wymeldowanie-lokatora" class="overlay">
                <img src="/images/wymeldowanie.jpg" alt="WYMELDOWANIE BEZ ZGODY OSOBY ZAMELDOWANEJ – KIEDY JEST MOŻLIWE?
          ">
                <div class="item-text">
                  <span class="folio-types">
                    Prawo administracyjne
                  </span>
                  <h3 class="folio-title">WYMELDOWANIE BEZ ZGODY OSOBY ZAMELDOWANEJ – KIEDY JEST MOŻLIWE?
                  </h3>
                </div>
              </a>
            </div> <!-- end item-wrap -->
          </div> <!-- end folio-item -->
        <!-- start folio-item -->
         <!-- DODATKOWE DNI URLOPU OD PRACY Z POWODU SIŁY WYŻSZEJ -->
         <div class="brick folio-item">
            <div class="item-wrap animate-this" data-src="/images/zgon.jpg" data-sub-html="#01">
              <a href="/blog/dodatkowe-dni-urlopu" class="overlay">
                <img src="/images/dni-wolne.jpg" alt="DODATKOWE DNI URLOPU OD PRACY Z POWODU SIŁY WYŻSZEJ
          ">
                <div class="item-text">
                  <span class="folio-types">
                    Prawo pracy
                  </span>
                  <h3 class="folio-title">DODATKOWE DNI URLOPU OD PRACY Z POWODU SIŁY WYŻSZEJ
                  </h3>
                </div>
              </a>
            </div> <!-- end item-wrap -->
          </div> <!-- end folio-item -->
         <!-- start folio-item -->
         <!-- ILE KOSZTUJE ROZWÓD A ILE SEPARACJA? -->
        <div class="brick folio-item">
            <div class="item-wrap animate-this" data-src="/images/zgon.jpg" data-sub-html="#01">
              <a href="/blog/ile-kosztuje-rozwod" class="overlay">
                <img src="/images/money.jpg" alt="ILE KOSZTUJE ROZWÓD A ILE SEPARACJA?
          ">
                <div class="item-text">
                  <span class="folio-types">
                    Prawo rodzinne
                  </span>
                  <h3 class="folio-title">ILE KOSZTUJE ROZWÓD A ILE SEPARACJA?
                  </h3>
                </div>
              </a>
            </div> <!-- end item-wrap -->
          </div> <!-- end folio-item -->
        <!-- KONTROLA TRZEŹWOŚCI W PRACY – CO WARTO WIEDZIEĆ -->
        <div class="brick folio-item">
            <div class="item-wrap animate-this" data-src="/images/zgon.jpg" data-sub-html="#01">
              <a href="/blog/kontrola-trzezwosci-w-pracy" class="overlay">
                <img src="/images/picie-w-pracy.jpg" alt="KONTROLA TRZEŹWOŚCI W PRACY – CO WARTO WIEDZIEĆ
          ">
                <div class="item-text">
                  <span class="folio-types">
                    Prawo pracy
                  </span>
                  <h3 class="folio-title">KONTROLA TRZEŹWOŚCI W PRACY – CO WARTO WIEDZIEĆ
                  </h3>
                </div>
              </a>
            </div> <!-- end item-wrap -->
          </div> <!-- end folio-item -->
        <!-- start folio-item -->
        <!-- STWIERDZENIA NABYCIA SPADKU PRZEZ SĄD – CO WARTO WIEDZIEĆ-->
        <div class="brick folio-item">
            <div class="item-wrap animate-this" data-src="/images/zgon.jpg" data-sub-html="#01">
              <a href="/blog/stwierdzenie-nabycia-spadku" class="overlay">
                <img src="/images/zgon.jpg" alt="TWIERDZENIA NABYCIA SPADKU PRZEZ SĄD – CO WARTO WIEDZIEĆ
          ">
                <div class="item-text">
                  <span class="folio-types">
                    Prawo spadkowe
                  </span>
                  <h3 class="folio-title">STWIERDZENIA NABYCIA SPADKU PRZEZ SĄD – CO WARTO WIEDZIEĆ
                  </h3>
                </div>
              </a>
            </div> <!-- end item-wrap -->
          </div> <!-- end folio-item -->
        <!-- start folio-item -->
        <!-- ZMIANA NAZWISKA PO ROZWODZIE – CO MUSISZ WIEDZIEĆ-->

        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="/images/nazwisko-malzonkow-po-slubie.jpg" data-sub-html="#01">
            <a href="/blog/nazwisko-malzonkow-po-slubie" class="overlay">
              <img src="/images/nazwisko-malzonkow-po-slubie.jpg" alt="NAZWISKO MAŁŻONKÓW PO ŚLUBIE – JAKIE MOŻNA WYBRAĆ?
        ">
              <div class="item-text">
                <span class="folio-types">
                  Prawo rodzine
                </span>
                <h3 class="folio-title">NAZWISKO MAŁŻONKÓW PO ŚLUBIE – JAKIE MOŻNA WYBRAĆ? JAKIE DOKUMANTY WYMIENIĆ? JAKIE
                  NAZWISKO BĘDĄ NOSIĆ DZIECI?

                </h3>
              </div>
            </a>
          </div> <!-- end item-wrap -->
        </div> <!-- end folio-item -->

        <!-- start folio-item -->
        <!-- ZMIANA NAZWISKA PO ROZWODZIE – CO MUSISZ WIEDZIEĆ -->

        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="/images/zmina-nazwiska-po-rozwodzie.jpg" data-sub-html="#01">
            <a href="/blog/zmina-nazwiska-po-rozwodzie" class="overlay">
              <img src="/images/zmina-nazwiska-po-rozwodzie.jpg" alt="ZMIANA NAZWISKA PO ROZWODZIE – CO MUSISZ WIEDZIEĆ
      ">
              <div class="item-text">
                <span class="folio-types">
                  Prawo rodzine
                </span>
                <h3 class="folio-title">ZMIANA NAZWISKA PO ROZWODZIE – CO MUSISZ WIEDZIEĆ

                </h3>
              </div>
            </a>
          </div> <!-- end item-wrap -->
        </div> <!-- end folio-item -->
        <!-- start folio-item -->
        <!-- Uznanie w Polsce wyroku rozwodowego wydanego przez Sąd zagraniczny -->

        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="/images/uznanie-zagranicznego-rozwodu.jpg" data-sub-html="#01">
            <a href="/blog/uznanie-zagranicznego-rozwodu" class="overlay">
              <img src="/images/uznanie-zagranicznego-rozwodu.jpg" alt="UZNANIE W POLSCE WYROKU ROZWODOWEGO WYDANEGO PRZEZ SĄD ZAGRANICZNY">
              <div class="item-text">
                <span class="folio-types">
                  Prawo rodzine
                </span>
                <h3 class="folio-title">UZNANIE W POLSCE WYROKU ROZWODOWEGO WYDANEGO PRZEZ SĄD ZAGRANICZNY
                </h3>
              </div>
            </a>
          </div> <!-- end item-wrap -->
        </div> <!-- end folio-item -->

        <!-- start folio-item -->
        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="/images/odrzucenie-spadku-w-imieniu-dziecka.jpg" data-sub-html="#01">
            <a href="/blog/odrzucenie-spadku-w-imieniu-dziecka" class="overlay">
              <img src="/images/odrzucenie-spadku-w-imieniu-dziecka.jpg" alt="ODRZUCENIE SPADKU W IMIENIU DZIECKA">
              <div class="item-text">
                <span class="folio-types">
                  Prawo spadkowe
                </span>
                <h3 class="folio-title">ODRZUCENIE SPADKU W IMIENIU DZIECKA – KROK PO KROKU
                </h3>
              </div>
            </a>
          </div> <!-- end item-wrap -->
        </div> <!-- end folio-item -->
        <!-- start folio-item -->

        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="/images/znecanie-sie-nad-zwierzetami.jpg" data-sub-html="#01">
            <a href="/blog/znecanie-sie-nad-zwierzetami" class="overlay">
              <img src="/images/znecanie-sie-nad-zwierzetami.jpg" alt="znecanie sie nad zwierzętami">
              <div class="item-text">
                <span class="folio-types">
                  Prawo cywilne
                </span>
                <h3 class="folio-title">ZNĘCANIE SIĘ NAD ZWIERZĘTAMI – CZYLI CO?
                </h3>
              </div>
            </a>
          </div> <!-- end item-wrap -->
        </div> <!-- end folio-item -->
        <!-- start folio-item -->

        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="/images/sprzecznosc-rozwodu-z-dobrem-dzieci.jpg" data-sub-html="#01">
            <a href="/blog/sprzecznosc-rozwodu-z-dobrem-dzieci" class="overlay">
              <img src="/images/sprzecznosc-rozwodu-z-dobrem-dzieci.jpg" alt="rozwod">
              <div class="item-text">
                <span class="folio-types">
                  Prawo rodzinne
                </span>
                <h3 class="folio-title">SPRZECZNOŚĆ ROZWODU Z DOBREM MAŁOLETNICH DZIECI MAŁŻONKÓW, CZYLI KIEDY SĄD NIE ORZEKNIE
                  ROZWODU
                </h3>
              </div>
            </a>
          </div> <!-- end item-wrap -->
        </div> <!-- end folio-item -->
        <div class="brick folio-item">
          <!-- start folio-item -->
          <div class="item-wrap animate-this" data-src="/images/pracodawca-zada-zwrot-kosztow.jpg" data-sub-html="#01">
            <a href="/blog/pracodawca-zada-zwrotu-kosztow" class="overlay">
              <img src="/images/pracodawca-zada-zwrot-kosztow.jpg" alt="rozwod">
              <div class="item-text">
                <span class="folio-types">
                  Prawo pracy
                </span>
                <h3 class="folio-title">CZY PRACODAWCA MOŻE ŻĄDAĆ ZWROTU KOSZTÓW SZKOLEŃ PRACOWNIKA?
                </h3>
              </div>
            </a>
          </div> <!-- end item-wrap -->
        </div> <!-- end folio-item -->

        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="/images/rozwod.jpg" data-sub-html="#01">
            <a href="/blog/rozwod" class="overlay">
              <img src="/images/rozwod.jpg" alt="rozwod">
              <div class="item-text">
                <span class="folio-types">
                  Prawo rodzinne
                </span>
                <h3 class="folio-title">ROZWÓD - KIEDY SĄD MOŻE GO ORZEC?
                </h3>
              </div>
            </a>

          </div> <!-- end item-wrap -->


        </div> <!-- end folio-item -->
        <div class="brick folio-item">
          <div class="item-wrap animate-this" data-src="/images/rozwod.jpg" data-sub-html="#01">
            <a href="/blog/szkody-wyrzadzone-przez-zwierze" class="overlay">
              <img src="/images/szkody-wyrzadzone-przez-zwierze.jpg" alt="rozwod">
              <div class="item-text">
                <span class="folio-types">
                  Prawo cywilne
                </span>
                <h3 class="folio-title">ODPOWIEDZIALNOŚĆ ZA SZKODY WYRZĄDZONE PRZEZ ZWIERZĘ
                </h3>
              </div>
            </a>
          </div> <!-- end item-wrap -->

        </div> <!-- end folio-item -->

      </div> <!-- end folio-wrap -->
    </div> <!-- end twelve -->
  </div> <!-- end portfolio-content -->

</section> <!-- end portfolio -->
