<!-- contact
   ================================================== -->
   <section id="contact">

		<div class="overlay"></div>

		<div class="row narrow section-intro">
			<div class="col-twelve">
				<h1 class="animate-this" style="color: #fff; margin-top: -50px; margin-bottom: 80px">Kontakt</h1>
				<img src="/images/logo2.png" class="logo-custom-contact">
				<!-- <h1 class="animate-this">I'm Available for Freelance Work. Feel Free to Contact Me.</h1> -->

				<!-- <p class="lead animate-this">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p> -->
			</div>
		</div> <!-- end section-intro -->

		<div class="row contact-info" style="display: grid">

			<div class="col-four tab-full" style="width: 100%">
				<!-- <h5 class="animate-this">Zadzwoń</h5> -->

				<p class="animate-this" style="color: #fff; font-size: 18px">
					<a href="tel:505175334" style="color: #fff; font-size: 18px"
						onclick="
							gtag('event', 'click_phone', {
								event_category: 'Kontakt',
								event_label: 'Kliknięcie telefon'
							});
							return gtag_report_conversion('tel:505175334');
						"
					>
					<img src="/images/ico/phone.png" style="width: 20px; margin: -8px 8px -4px 8px;"> 505 175 334<br>
					</a>
					<!-- Mobile: (+63) 555 0100<br> -->
					<!-- Fax: (+63) 555 0101 -->
				</p>
			</div> <!-- end col-four -->

			<div class="col-four tab-full collapse" style="width: 100%">
				<!-- <h5 class="animate-this">Napisz</h5> -->

				<p class="animate-this" style="color: #fff; font-size: 18px">
					<a href="mailto:biuro@gierusradca.pl" style="color: #fff; font-size: 18px">
					<img src="/images/ico/email.png" style="width: 20px; margin: -8px 8px -4px 8px ;" onclick="gtag('event', 'click_email', { 'event_category': 'Kontakt', 'event_label': 'Kliknięcie email' });"> biuro@gierusradca.pl<br>
				</a>	<!-- info@howdywebsite.com -->
				</p>
			</div> <!-- end col-four -->

			<div class="col-four tab-full" style="width: 100%">
				<!-- <h5 class="animate-this">NIP</h5> -->

				<p class="animate-this" style="color: #fff; font-size: 18px">
					<i class="fa fa-briefcase" style="margin-right: 8px;"></i> NIP: 5170404383
				</p>
			</div> <!-- end col-four -->
			<div class="col-four tab-full" style="width: 100%">
				<!-- <h5 class="animate-this">NIP</h5> -->

				<p class="animate-this" style="color: #fff; font-size: 18px">
					<a href="https://www.facebook.com/profile.php?id=106727901868048" rel="noopener noreferrer nofollow"
					target="_blank" style="color: #fff; font-size: 18px"><i
						 class="fa fa-facebook" style="margin-right: 8px;"></i> Facebook
					</a>
				</p>
			</div> <!-- end col-four -->
			<div class="col-four tab-full" style="width: 100%">
					<!-- <h5 class="animate-this">NIP</h5> -->

					<p class="animate-this" style="color: #fff; font-size: 18px">
						<a href="https://www.instagram.com/kancelaria_gierus_lenczner?igsh=MW5zbGwyOWVsbjd1bQ==" target="_blank" style="color: #fff; font-size: 18px"><i
							 class="fa fa-instagram" style="margin-right: 8px;"></i> Instagram
						</a>
					</p>
				</div> <!-- end col-four -->
			<div class="col-four tab-full" style="width: 100%">
				<!-- <h5 class="animate-this">NIP</h5> -->

				<p class="animate-this" style="color: #fff; font-size: 14px">
					<a href="https://gierusradca.pl/policy" target="_blank" style="color: #fff; font-size: 14px"><i
						  ></i> Polityka prywatności
					</a>
				</p>
			</div> <!-- end col-four -->
		</div> <!-- end row contact-info -->

	</section> <!-- end contact -->
