<!-- franki
   ================================================== -->
   <section id="franki">
      <div class="franki-container">
          <div class="franki-text-content">
              <div class="row narrow section-intro">
                  <div class="col-twelve">
                    <h2 class="animate-this franki-title" >Prawnik od&nbsp;franków</h1>
                      <hr style="width: 75%; border-bottom: solid 3px #073674; ">

                  </div>
                </div> <!-- end section-intro -->
                <div class="row narrow section-intro">
                    <div class="col-twelve">
                     <div style="border-radius: 50%; width: 100px; height: 100px;float: left; margin-right: 20px;
                     	background-image: url(../images/intro-bg-franki.jpg); 	background-size: cover;
                       background-repeat: no-repeat;

">.</div>
                      <h3 class="animate-this franki-subtitle" >Kamila Gierus-Lenczner</h3>

                    </div>
                  </div>            <div class="franki-cloud">
                <!-- <div class="col-twelve"> -->
                  <p class="animate-this" style=" font-size: 2rem">Radca prawny specjalizujący się
                      w&nbsp;prowadzeniu spraw przeciwko Bankom, <strong style="font-size:inherit; color: inherit">celem unieważnienia umowy kredytu powiązanego z&nbsp;CHF i&nbsp;odzyskaniem nienależnie wpłaconych Bankowi świadczeń.</strong>
                      <br><br>
                      Bezpłatnie przeanalizuje twoją umowę.</p>

                <!-- </div> -->
              </div> <!-- end section-intro -->

          </div>
          <div class="franki-image-content"></div>

        </div>



	</section> <!-- end contact -->