<header>

  <a id="header-menu-trigger" href="#0">
    <span class="header-menu-text">Menu</span>
    <span class="header-menu-icon"></span>
  </a>

  <nav id="menu-nav-wrap">

    <a href="#0" class="close-button" title="close"><span>Zamknij</span></a>


    <ul class="nav-list">
      <li class="current"><a href="/" title="">Strona główna</a></li>
      <li><a class="smoothscroll" href="/#about" title="">O Kancelarii</a></li>
      <li><a href="/#zares-uslug" title="">Zakres usług</a></li>
      <li><a class="smoothscroll" href="/#blog" title="">Blog</a></li>

      <li><a class="smoothscroll" href="/#contact" title="">Kontakt</a></li>
      <li><a class="smoothscroll" href="/#newsletter" title="">Newsletter</a></li>

    </ul>

  </nav> <!-- end #menu-nav-wrap -->

</header> <!-- end header -->
