
<head>

	<!--- basic page needs
   ================================================== -->
	<meta charset="utf-8">
	<title>          <%= title %>
  </title>
	<meta name="description" content="Kancelaria Radcy Prawnego Kamila Gierus-Lenczner procesy sądowe, doradztwo prawne, opinie prawne, stała i&nbsp;doraźna obsługa prawna osób fizycznych oraz podmiotów prawa handlowego, windykacja wierzytelności.">
	<meta name="author" content="GierusRadca.pl">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
   ================================================== -->
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/vendor.css">
	<link rel="stylesheet" href="/css/main2.css">

	<!-- script
   ================================================== -->
	<script src="/js/modernizr.js"></script>
	<script src="/js/pace.min.js"></script>
	<link rel="stylesheet" href="/js/glowCookies.css" />
	<script src="/js/glowCookies.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9BY8CCG0XW"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-9BY8CCG0XW');
	</script>
	<!-- Cookies modal  -->
	<script>
		glowCookies.start('en', {
			style: 2, // 1, 2, 3
			hideAfterClick: true,
			border: 'none', // or 'border'
			position: 'right', // or 'left'
			bannerDescription: 'Korzystając z naszych usług, przyjmujesz do wiadomości, że używamy plików cookie i podobnych technologii do ulepszania i dostosowania treści oraz analizy ruchu.',
			bannerLinkText: ' ',
			bannerBackground: '#000',
			bannerColor: '#fafafa',
			bannerHeading: '<h2>Cookies</h2>',
			acceptBtnText: 'OK',
			acceptBtnColor: 'lightgrey',
			acceptBtnBackground: 'grey',
			rejectBtnText: 'Odrzuć',
			rejectBtnBackground: 'grey',
			rejectBtnColor: 'black',
			manageColor: 'white',
			manageBackground: 'blue',
			manageText: 'cookies text',
			// policyLink: 'https://gierusradca.pl/privacy-policy.html'

		});
	</script>
	<!-- Structure data -->
	<script type="application/ld+json">
    {
				"@context": "http://schema.org",
				"@graph": [
					{
						"@type": "LegalService",
						"@id": "www.gierusradca.pl",
						"url": "www.gierusradca.pl",
						"priceRange": "$$",
						"image": "www.gierusradca.pl/images/logo2.png",
						"name": "Kancelaria Radcy Prawnego Kamila Gierus-Lenczner",
						"telephone": "+48 505 175 334",
						"openingHours": "Mo-Fr 08:00-18:00",
						"legalName": "Kancelaria Radcy Prawnego Kamila Gierus-Lenczner"
					},
					{
						"@type": "WebSite",
						"@id": "www.gierusradca.pl",
						"url": "www.gierusradca.pl",
						"name": "Kancelaria Radcy Prawnego Kamila Gierus-Lenczner",
						"description": "Kancelaria Radcy Prawnego Kamila Gierus-Lenczner procesy sądowe, doradztwo prawne, opinie prawne, stała i&nbsp;doraźna obsługa prawna osób fizycznych oraz podmiotów prawa handlowego, windykacja wierzytelności.",
						"inLanguage": "pl-PL",
						"isPartOf": {
							"@id": "www.gierusradca.pl"
						},
						"primaryImageOfPage": {
							"@id": "www.gierusradca.pl/images/intro-bg.jpg"
						}
					},
					{
						"@type": "ImageObject",
						"@id": "www.gierusradca.pl/images/logo2.png",
						"inLanguage": "pl-PL",
						"url": "www.gierusradca.pl/images/logo2.png",
						"contentUrl": "www.gierusradca.pl/images/logo2.png",
						"width": 270,
						"height": 150
					}]
    }
		</script>

	<!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" type="image/icon" href="/favicon.ico" />

</head>
