<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->

<%- include('../views/components/head.ejs', { title: "Kancelaria Radcy Prawnego Kamila Gierus-Lenczner" }); -%>
<head>
		<link rel="canonical" href="https://gierusradca.pl/" />
	</head>
<body id="top">

	<!-- <%- include('../views/components/header.ejs'); -%> -->

	<!-- home
   ================================================== -->
	<section id="home" style="margin-top: -30px;">

		<div class="overlay"></div>
		<div class="gradient-overlay"></div>

		<div class="home-content-table">

			<div class="home-content-tablecell">
				<div class="row">
					<div class="col-twelve">
						<div class="home-bottom-text">

							<div class="animate-intro intro-mobile" style="position: relative">
								<img src="images/logo2.png" class="logo-custom" alt="Kancelaria Radcy Prawnego Kamila Gierus-Lenczner">
								<!-- Kancelaria Radcy Prawnego <br> Kamila Gierus-Lenczner -->
								<!-- udzielamy pomocy prawnej klientom indywidualnym <br>
							oraz przedsiębiorcom na terenie podkarpacia -->
              </div>
              <h2 style="color:white">Dziekujemy za potwierdzenie adresu e-mail <br/> </h2>

              <a href="https://gierusradca.pl"><button>Strona główna</button></a>

						</div> <!-- end home-bottom-text -->
					</div> <!-- end col-twelve -->
				</div> <!-- end row -->
			</div> <!-- end home-content-tablecell -->
		</div> <!-- end home-content-table -->


	</section> <!-- end home -->

	 <%- include('../views/components/contact.ejs'); -%>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
   ================================================== -->
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main1-0.js"></script>

</body>

</html>
