<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<%- include('../views/components/head.ejs', { title: "Kancelaria Radcy Prawnego Kamila Gierus-Lenczner" }); -%>
<head>
		<link rel="canonical" href="https://gierusradca.pl/" />
	</head>
<body id="top">

	<%- include('../views/components/header.ejs'); -%>

	<!-- home
   ================================================== -->
	<section id="home">

		<div class="overlay"></div>
		<div class="gradient-overlay"></div>

		<div class="home-content-table">

			<div class="home-content-tablecell">
				<div class="row">
					<div class="col-twelve">
						<div class="home-bottom-text">

							<div class="animate-intro intro-mobile" style="position: relative">
								<img src="images/logo2.png" class="logo-custom" alt="Kancelaria Radcy Prawnego Kamila Gierus-Lenczner">
								<!-- Kancelaria Radcy Prawnego <br> Kamila Gierus-Lenczner -->
								<!-- udzielamy pomocy prawnej klientom indywidualnym <br>
							oraz przedsiębiorcom na terenie podkarpacia -->
							</div>
							<ul class="home-section-links">
								<li class="animate-intro">Więcej <a href="#about" class="smoothscroll">O Kancelarii
									</a></li>
									<li class="animate-intro">Przeczytaj <a href="#blog" class="smoothscroll">Blog</a></li>

								<li class="animate-intro">Sprawdź <a href="#zares-uslug" class="smoothscroll">Zakres Usług</a></li>
								<li class="animate-intro">Kontakt <a href="#contact" class="smoothscroll">E-mail / Telefon</a></li>
							</ul>

						</div> <!-- end home-bottom-text -->
					</div> <!-- end col-twelve -->
				</div> <!-- end row -->
			</div> <!-- end home-content-tablecell -->
		</div> <!-- end home-content-table -->

		<a href="#about" class="scroll-icon smoothscroll">
			<span class="icon-DownArrow"></span>
		</a>

	</section> <!-- end home -->


	<!-- about
   ================================================== -->
	<section id="about">

		<div class="about-profile-bg"></div>

		<div class="about-wrap">

			<div class="about-profile">

				<div class="about-profile-bg"></div>

				<div class="intro">
					<h1 class="animate-this">O Kancelarii</h1>

					<p class="lead animate-this">Kancelaria Radcy Prawnego udziela pomocy prawnej klientom indywidualnym oraz przedsiębiorcom.</p>
				</div>

				<p class="animate-this">Specjalizuje się w&nbsp;prawie cywilnym: sprawach rodzinnych i&nbsp;spadkowych, procesach w&nbsp;sprawach
					o&nbsp;odszkodowanie i&nbsp;zadośćuczynienie a także prawie pracy, prawie administracyjnym, prawie spółek handlowych
					czy windykacji należności.</p>

				<p>
					<a href="#contact" class="button full-width animate-this" style="height: 5.4rem; line-height: 5.4rem;">Kontakt</a>
				</p>

			</div> <!-- end about-profile  -->

			<div class="about-services">

				<div class="intro">
					<h1 class="animate-this">Specjalizacje</h1>

				</div>

				<ul class="services">
					<li class="item-branding animate-this">
						<div class="icon-wrap">
							<img src="images/ico/cywil-ico.png">
						</div>
						<div class="service-item">
							<h4>Prawo cywilne</h4>
							<p>Kancelaria świadczy usługi prawne w&nbsp;ramach szeroko rozumianego prawa cywilnego Klientom indywidualnym oraz
								korporacyjnym, w&nbsp;szczególności w&nbsp;sprawach o&nbsp;zapłatę, ochronę dóbr osobistych czy sporach o&nbsp;własność
								nieruchomości.
								<a href="#prawo-cywilne">więcej</a></p><br>

						</div>
					</li>
					<li class="item-photography animate-this">
						<div class="icon-wrap">
							<img src="images/ico/rodzinne-ico.png">

						</div>
						<div class="service-item">
							<h4>Prawo rodzinne</h4>

							<p> W&nbsp;ramach prawa rodzinnego Kancelaria świadczy kompleksową obsługę prawną na rzecz Klientów indywidualnych.
								<a href="#prawo-rodzinne">więcej</a></p><br>

						</div>
					</li>
					<li class="item-webdesign animate-this">
						<div class="icon-wrap">
							<img src="images/ico/spadek-ico.png">
						</div>
						<div class="service-item">
							<h4>Prawo spadkowe</h4>
							<p>Kancelaria świadczy pomoc prawną w&nbsp;sprawach spadkowych, w&nbsp;szczególności związanych ze stwierdzeniem nabycia
								spadku, ogłoszeniem testamentu czy roszczeniem o&nbsp;zachowek.
								<a href="#prawo-spadkowe">więcej</a></p><br>
							</p>
						</div>
					</li>
					<li class="item-uiux animate-this">
						<div class="icon-wrap">
							<img src="images/ico/prawo-ico.png">
						</div>
						<div class="service-item">
							<h4>Odszkodowania</h4>
							<p>Kancelaria świadczy kompleksową obsługę prawną w&nbsp;sprawach odszkodowawczych na rzecz Klientów indywidualnych
								oraz korporacyjnych, zapewniając także reprezentację przed Sądami w&nbsp;sprawach roszczeń związanych ze szkodami
								komunikacyjnymi czy osobowymi.
								<a href="#odszkodowania">więcej</a></p><br>
							</p>
						</div>
					</li>
					<li class="item-uiux animate-this">
						<div class="icon-wrap">
							<img src="images/ico/pracy-ico.png">
						</div>
						<div class="service-item">
							<h4>Prawo pracy</h4>
							<p>Kancelaria świadczy kompleksową obsługę prawną zarówno dla pracowników jak i&nbsp;pracodawców.
								<a href="#prawo-pracy">więcej</a></p><br>
							</p>
						</div>
					</li>
					<li class="item-uiux animate-this">
						<div class="icon-wrap">
							<img src="images/ico/admin-ico.png">
						</div>
						<div class="service-item">
							<h4>Prawo administracyjne</h4>
							<p>Kancelaria świadczy pomoc prawną w&nbsp;sprawach administracyjnych na rzecz Klientów indywidualnych oraz korporacyjnych,
								zapewniając także reprezentację Klienta w&nbsp;sporach przed Sądami i&nbsp;Organami.
								<a href="#prawo-administarcyjne">więcej</a></p><br>
							</p>
						</div>
					</li>
					<li class="item-webdesign animate-this">
						<div class="icon-wrap">
							<img src="images/ico/spadek-ico.png">
						</div>
						<div class="service-item">
							<h4>Prawo handlowe</h4>
							<p>Kancelaria świadczy pomoc prawną na rzecz Klientów indywidualnych oraz korporacyjnych, w&nbsp;szczególności poprzez
								przygotowywanie umów, aktów założycielskich czy statutów a&nbsp;także bieżącą obsługę.
								<a href="#prawo-handlowe">więcej</a></p><br>
							</p>
						</div>
					</li>
					<li class="item-webdesign animate-this">
						<div class="icon-wrap">
							<img src="images/ico/pracy-ico.png">
						</div>
						<div class="service-item">
							<h4>Windykacja</h4>
							<p>Kancelaria świadczy pomoc prawną w&nbsp;zakresie windykacji należności, zapewniając reprezentację w&nbsp;postępowaniu
								egzekucyjnym.
							</p>
							</p>
						</div>
					</li>
				</ul>

			</div> <!-- end about-services  -->

		</div> <!-- end about-wrap  -->

	</section> <!-- end about -->


	<!-- credentials
   ================================================== -->
	<section id="credentials">
		<div class="credentials-wrap">


			<!-- Ignorantia legis non excusat -  Nikt nie może usprawiedliwiać swoich działań lub zaniechań tym, że nie zna przepisów prawa. Powierz swoją sprawę profesjonaliście! -->
			<div class="row section-intro with-bottom-sep credentials-profile" style="width:100%; margin: 0rem 0rem 4rem 0rem; padding:28rem 1rem 16rem; max-width: 100%">
				<div class="credentials-profile-bg"></div>

				<div class="col-twelve" style="width:80%">
					<h3 class="animate-this" style="color:rgb(1, 20, 54);">Nikt nie może usprawiedliwiać swoich działań lub zaniechań tym,
						że nie zna przepisów prawa </h3>
					<h1 class="animate-this">Ignorantia legis non excusat</h1>

					<p class="lead">Powierz swoją sprawę profesjonaliście!</p>
					<br>

				</div>
			</div>
		</div>
		<h1 class="animate-this" style="text-align: center; font-size: 4rem" id="zares-uslug">Zakres Usług</h1><br>

		<!-- end section-intro -->

		<div class="row wide credentials-content">

			<div class="col-six tab-full left">


				<div class="timeline-wrap">

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header" id="prawo-cywilne">
							<h3>Prawo cywilne</h3>
						</div>
						<div class="timeline-content">
							<ul style="text-align:left">
								<li>
									Doradztwo prawne,</li>
								<li> Sporządzanie opinii prawnych,</li>
								<li> Reprezentowaniu Klientów na etapie postępowania sądowego,</li>
								<li> Sprawy o&nbsp;zapłatę,</li>
								<li> Ochrona dóbr osobistych,</li>
								<li> Regulowanie stanów prawnych nieruchomości (zasiedzenie, służebność),</li>
								<li> Spory o&nbsp;własność (zniesienie współwłasności, powództwo windykacyjne, negatoryjne),
								</li>
								<li> Ochrona posiadania,</li>
								<li> Sporządzanie i&nbsp;opiniowanie umów cywilnoprawnych,</li>
								<li> Sprawy o&nbsp;odszkodowanie i&nbsp;zadośćuczynienie.
								</li>
							</ul>
						</div>
					</div> <!-- end timeline-block -->

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header" id="prawo-rodzinne">
							<h3>Prawo rodzinne</h3>
						</div>
						<div class="timeline-desc">
							<ul style="text-align:left">
								<li> Doradztwo prawne,</li>
								<li> Sporządzanie opinii prawnych,</li>
								<li> Reprezentacja Klienta przed Sądami m.in. w&nbsp;sprawach o:&nbsp;rozwód, separację,  ustanowienie rozdzielności
									majątkowej małżeńskiej, podział majątku, alimenty, ustanowienie kontaktów, ustalenie lub zaprzeczenie ojcostwa,
									ustalenie lub zaprzeczenie macierzyństwa, sprawy związane z&nbsp;władzą rodzicielską, ubezwłasnowolnienie,
								</li>
								<li> Przygotowywanie, opiniowanie, negocjowanie umów majątkowych pomiędzy małżonkami.
								</li>

							</ul>
						</div>
					</div> <!-- end timeline-block -->

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header" id="prawo-spadkowe">

							<h3>Prawo spadkowe</h3>
						</div>
						<div class="timeline-content">
							<ul style="text-align:left">
								<li> Doradztwo prawne,</li>
								<li> Sporządzanie opinii prawnych,</li>
								<li> Reprezentacja Klienta przed Sądami,</li>
								<li> Stwierdzenie nabycia spadku,</li>
								<li> Dział spadku,</li>
								<li> Zachowek,</li>
								<li> Wydziedziczenie.</li>
								</li>
							</ul>
						</div>
					</div>
					<!-- end timeline-block -->

				</div> <!-- end timeline-wrap -->


			</div> <!-- end col-six -->

			<div class="col-six tab-full right">


				<div class="timeline-wrap">

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header" id="odszkodowania">
							<h3>Odszkodowania</h3>
						</div>
						<div class="timeline-content">
							<ul style="text-align:left">
								<li> Doradztwo prawne,</li>
								<li> Sporządzanie opinii prawnych,</li>
								<li> Reprezentowaniem Klienta w&nbsp;sprawach dochodzenia roszczeń na etapie postępowania przedsądowego,</li>
								<li> Reprezentacja Klienta przed Sądami w&nbsp;sprawach dochodzenia roszczeń w&nbsp;związku ze&nbsp; szkodami komunikacyjnymi,
									najmem pojazdów zastępczych, szkodami majątkowymi i&nbsp;osobowymi.
								</li>
							</ul>
						</div>
					</div> <!-- end timeline-block -->

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header" id="prawo-pracy">
							<h3>Prawo pracy</h3>
						</div>
						<div class="timeline-desc">
							<ul style="text-align:left">
								<li> Doradztwo prawne,</li>
								<li> Sporządzanie opinii prawnych,</li>
								<li> Przygotowywania, opiniowanie umów o&nbsp;pracę,</li>
								<li> Przygotowywanie, opiniowanie aktów wewnętrznych np. regulaminów pracy,
								</li>
								<li> Reprezentacja Klienta przed sądami m.in. w&nbsp;sprawach o&nbsp;ustalenie istnienia stosunku pracy, przywrócenie
									do pracy, sprostowanie świadectwa pracy, dyskryminację, świadczeń pracowniczych.</li>

							</ul>
						</div>
					</div> <!-- end timeline-block -->

					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header" id="prawo-administarcyjne">
							<h3>Prawo administracyjne</h3>
						</div>
						<div class="timeline-content">
							<ul style="text-align:left">
								<li> Doradztwo prawne,</li>
								<li> Sporządzanie opinii prawnych,</li>
								<li> Reprezentowanie Klienta w&nbsp;sporach przed Sądami i&nbsp; Organami,</li>
								<li> sporządzanie skarg administracyjnych, odwołań, pism w&nbsp;toku postępowania administracyjnego i&nbsp;sądowo
									administracyjnego. </li>

							</ul>
						</div>

					</div>
					<div class="timeline-block animate-this">
						<div class="timeline-ico">
							<i class="fa fa-briefcase"></i>
						</div>
						<div class="timeline-header" id="prawo-handlowe">
							<h3>Prawo handlowe</h3>
						</div>
						<div class="timeline-content">
							<ul style="text-align:left">

								<li> Przygotowywania umów, aktów założycielskich i&nbsp;statutów spółek,</li>
								<li> Reprezentowanie spółek w&nbsp;postępowaniach rejestrowych,</li>
								<li> Bieżąca obsługa prawna spółek.</li>

							</ul>
						</div>
					</div> <!-- end timeline-block -->

				</div> <!-- end timeline-wrap -->

			</div> <!-- end col-six -->

		</div> <!-- end row wide -->

	</section> <!-- end credentials -->


	 <%- include('../views/components/blogList.ejs'); -%>

	 <%- include('../views/components/contact.ejs'); -%>


	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
   ================================================== -->
	<script src="js/jquery-2.1.3.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main1-0.js"></script>

</body>

</html>
