<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../views/components/head.ejs', {
  title: "Polityka prywatnosci" }); -%>

  <head>
    <link rel="canonical" href="https://gierusradca.pl/policy" />
  </head>

  <body id="top">

    <%- include('../views/components/headerBlog.ejs'); -%>

      <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
      <div class="blog-section">
        <br>
        <h1 style="color:white">Polityka Prywatności</h1>
        <br>
        <ol>
          <li>Definicje:</li>
          <li>Administrator - Kancelaria Radcy Prawnego Kamila Gierus-Lenczner, NIP: 5170404383;</li>
          <li>Dane osobowe/Dane - oznaczają wszelkie informacje o zidentyfikowanej lub możliwej do zidentyfikowania osobie
            fizycznej (&quot;osobie, kt&oacute;rej dane dotyczą&quot;); możliwa do zidentyfikowania osoba fizyczna to osoba,
            kt&oacute;rą można bezpośrednio lub pośrednio zidentyfikować, w szczeg&oacute;lności na podstawie identyfikatora
            takiego jak imię&nbsp;<br>i nazwisko, numer identyfikacyjny, dane o lokalizacji, identyfikator internetowy lub
            jeden bądź kilka szczeg&oacute;lnych czynnik&oacute;w określających fizyczną, fizjologiczną, genetyczną, psychiczną,
            ekonomiczną, kulturową lub społeczną tożsamość osoby fizycznej;</li>
          <li>Kancelaria &ndash; Kancelaria Radcy Prawnego Kamila Gierus-Lenczner;</li>
          <li>Polityka - niniejsza Polityka Prywatności;</li>
          <li>RODO - Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony
            os&oacute;b fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych
            oraz uchylenia dyrektywy 95/46/WE (og&oacute;lne rozporządzenie o ochronie danych);</li>
          <li>Strona - strona internetowa Kancelarii: <a href="http://www.gierusradca.pl">www.gierusradca.pl</a></li>
          <li>Zgoda -&nbsp;&nbsp;osoby, kt&oacute;rej dane dotyczą oznacza dobrowolne, konkretne, świadome&nbsp;<br>i jednoznaczne
            okazanie woli, kt&oacute;rym osoba, kt&oacute;rej dane dotyczą, w formie oświadczenia lub wyraźnego działania
            potwierdzającego, przyzwala na przetwarzanie dotyczących jej danych osobowych;</li>
          <li>Zgoda na zbieranie plik&oacute;w cookies &ndash; zgoda w rozumieniu Prawa telekomunikacyjnego i Ustawy o świadczeniu
            usług droga elektroniczną.</li>
          <li>Polityka prywatności dotyczy strony internetowej <a href="http://www.gierusradca.pl">www.gierusradca.pl</a></li>
          <li>Administratorem Twoich danych osobowych jest Kancelaria Radcy Prawnego Kamila Gierus-Lenczner, NIP: 5170404383.&nbsp;</li>
          <li>Odbiorcą danych osobowych jest Kancelaria.</li>
          <li>Kontakt z Kancelarią możliwy jest pod adresem e-mail: <a href="mailto:biuro@gierusradca.pl">biuro@gierusradca.pl</a></li>
          <li>Cel i podstawa prawna przetwarzania danych osobowych:</li>
          <li>zgoda na przedstawienie oferty Kancelarii (art. 6 ust. 1 lit. a) RODO);</li>
          <li>w zakresie realizacji umowy zawartej z Kancelarią (art. 6 ust. 1 lit. b) RODO)</li>
          <li>prawnie uzasadniony interes administratora w zakresie obsługi korespondencji&nbsp;<br>i odpowiedzi na pytania
            oraz prawnie uzasadniony interes administratora w postaci ustalenia, dochodzenia bądź obrony przed potencjalnymi
            roszczeniami (art. 6 ust. 1 lit. f) RODO)</li>
          <li>Dane przetwarzamne są jedynie przez okres konieczny dla realizacji celu, dla kt&oacute;rego zostały zebrane.
            Okres przetwarzania danych może być r&oacute;żny, w zależności do celu:</li>
          <li>do czasu realizacji umowy Kancelarią,</li>
          <li>do czasu udzielenia odpowiedzi na przesłaną wiadomość do Kancelarii,</li>
          <li>do czasu odwołania zgody, w sytuacji gdy podstawą przetwarzania jest wyrażona zgoda;</li>
          <li>do czasu zgłoszenia sprzeciwu wobec przetwarzania danych, w sytuacji gdy podstawą przetwarzania jest prawnie
            uzasadniony interes Administratora,</li>
          <li>do czasu przedawnienia ewentualnych roszczeń.</li>
          <li>Osoba, kt&oacute;rej dane dotyczą może żądać dostępu do danych osobowych, ich sprostowania, usunięcia czy ograniczenia
            przetwarzania.</li>
          <li>Osoba, kt&oacute;rej dane dotyczą może cofnąć zgodę na przetwarzanie danych osobowych&nbsp;<br>w każdym momencie,
            co jednak nie wpływa na zgodność z prawem przetwarzania, kt&oacute;rego dokonano na podstawie zgody przed jej
            wycofaniem.</li>
          <li>Osoba, kt&oacute;rej dane dotyczą może wnieść sprzeciw wobec przetwarzania danych,&nbsp;<br>w celach wynikających
            z prawnie uzasadnionych interes&oacute;w administratora, jeśli jest to uzasadnione szczeg&oacute;lną sytuacją.</li>
          <li>Dane osobowe nie podlegałają zautomatyzowanemu podejmowaniu decyzji, w tym profilowaniu w rozumieniu art. 22
            RODO.</li>
          <li>Dane nie są udostępniane osobom trzecim bez zgody os&oacute;b, kt&oacute;rych te dane dotyczą,&nbsp;<br>z wyjątkiem
            sytuacji wymaganych przepisami prawa.</li>
          <li>Na Stronie Kancelarii znajdują się r&oacute;wnież odnośniki do innych stron. Zasady korzystania ze stron internetowych
            i zachowania prywatności użytkownik&oacute;w stron, do kt&oacute;rych użytkownik zostaje przekierowany za pomocą
            odnośnika, są zamieszczone na tych stronach.</li>
          <li>Kancelaria pozyskuje dane przetwarzane w postaci plik&oacute;w cookies. Kancelaria przechowuje zapytania http,
            kt&oacute;re są pobierane od użytkownik&oacute;w odwiedzających Stronę. Dane są wykorzystywane do administrowania
            Stroną Kancelarii i w celach marketingowych. Odwiedzający Stronę może zmienić ustawienia tak aby pliki cookies
            były blokowane. Wyłączenie plik&oacute;w cookies może spowodować niepoprawne działanie Strony Kancelarii.</li>
          <li>Kancelaria stosuje odpowiednie środki techniczne i organizacyjne by dane osobowe były bezpieczne, w tym zabezpiecza
            dane przed nieuprawnionym dostępem, ich utratą lub zniszczeniem. W celu zapewnienia bezpieczeństwa danych osobowych
            zostały wdrożone odpowiednie zabezpieczenia personalne, organizacyjne, techniczne&nbsp;<br>i fizyczne.</li>
          <li>Kancelaria zastrzega prawo wprowadzenia zmiany w niniejszej Polityce Prywatności, w szczeg&oacute;lności w
            celu jej dostosowania do wymog&oacute;w obowiązującego prawa, informując o dokonanych zmianach na Stronie Kancelarii.</li>
          <li>Stan na dzień 01.02.2024 r.</li>
        </ol>
      </div>
      </section>
      <%- include('../views/components/contact.ejs'); -%>
        <%- include('../views/components/dependency.ejs'); -%>
  </body>

</html>