<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="pl"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="pl"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="pl">
<!--<![endif]-->
<%- include('../views/components/head.ejs', {
  title: "Polityka prywatnosci" }); -%>

  <head>
    <link rel="canonical" style="color: white" href="https://gierusradca.pl/policy" />
  </head>

  <body id="top">

    <%- include('../views/components/headerBlog.ejs'); -%>

      <div style="width: 100%; height: 150px; background-color:rgb(1, 20, 54);"></div>
      <div class="blog-section"><br>
          <h1 style='color: white; margin-bottom: 0.21cm;background: transparent;font-family: "Liberation Serif", serif;font-size:32px;font-weight: bold;line-height: 115%;border: none;padding: 0cm;text-align: center;'>Polityka Prywatności</h1>
<br>          <p style="margin-bottom: 0.25cm;background: transparent;line-height: 115%;text-align: justify;">Twoja prywatność jest dla mnie bardzo ważna. W niniejszym dokumencie wyjaśniam, w jaki spos&oacute;b przetwarzam dane osobowe, kt&oacute;re mogą być zbierane za pośrednictwem strony internetowej.</p>
<br>          <ol>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;"><strong style="color: white">Administratorem danych osobowych jest:</strong></p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;"><strong style="color: white">Kancelaria Radcy Prawnego Kamila Gierus-Lenczner</strong></p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;"><strong style="color: white">z siedzibą w Zaczerniu</strong></p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;"><strong style="color: white">adres e-mail: biuro@gierusradca.pl</strong></p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;"><strong style="color: white">telefon: 505 175 334</strong></p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;"><strong style="color: white">NIP: 5170404383</strong></p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;"><span size="3" style="font-size:16px;"><span lang="pl-PL">Niniejsza polityka prywatności dotyczy strony internetowej&nbsp;</span></span><a style="color: white; cursor: pointer; text-decoration: underline;" href="http://www.gierusradca.pl/"><span lang="pl-PL"><span style="background: transparent;">www.gierusradca.pl</span></span></a></p>
              </li>
              <li>
                  <p style="background: transparent;font-weight: normal;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Definicje:</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">a) Administrator - Kancelaria Radcy Prawnego Kamila Gierus-Lenczner, NIP: 5170404383;</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">b) Dane osobowe/Dane - oznaczają wszelkie informacje o zidentyfikowanej lub możliwej do zidentyfikowania osobie fizycznej (&bdquo;osobie, kt&oacute;rej dane dotyczą&rdquo;); możliwa do zidentyfikowania osoba fizyczna to osoba, kt&oacute;rą można bezpośrednio lub pośrednio zidentyfikować, w szczeg&oacute;lności na podstawie identyfikatora takiego jak imię&nbsp;i nazwisko, numer identyfikacyjny, dane o lokalizacji, identyfikator internetowy lub jeden bądź kilka szczeg&oacute;lnych czynnik&oacute;w określających fizyczną, fizjologiczną, genetyczną, psychiczną, ekonomiczną, kulturową lub społeczną tożsamość osoby fizycznej;</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">c) Kancelaria &ndash; Kancelaria Radcy Prawnego Kamila Gierus-Lenczner;</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">d) Polityka - niniejsza Polityka Prywatności;</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">e) RODO - Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony os&oacute;b fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (og&oacute;lne rozporządzenie o ochronie danych);</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;"><span size="3" style="font-size:16px;"><span lang="pl-PL">f) Strona - strona internetowa Kancelarii:&nbsp;</span></span><a style="color: white; cursor: pointer; text-decoration: underline;" href="http://www.gierusradca.pl/"><span lang="pl-PL"><span style="background: transparent;">www.gierusradca.pl</span></span></a></p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">g) Zgoda - &nbsp;osoby, kt&oacute;rej dane dotyczą oznacza dobrowolne, konkretne, świadome&nbsp;<br>&nbsp;i jednoznaczne okazanie woli, kt&oacute;rym osoba, kt&oacute;rej dane dotyczą, w formie oświadczenia lub wyraźnego działania potwierdzającego, przyzwala na przetwarzanie dotyczących jej danych osobowych;</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">h) Zgoda na zbieranie plik&oacute;w cookies &ndash; zgoda w rozumieniu Prawa telekomunikacyjnego i Ustawy o świadczeniu usług droga elektro<span style="background: transparent;">niczną.</span></p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;"><span style="background: transparent;">&nbsp;Odbiorcą danych osobowych jest Kancelaria.</span></p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;"><span size="3" style="font-size:16px;"><span lang="pl-PL">Kontakt z Kancelarią możliwy jest pod adresem e-mail:&nbsp;</span></span><a style="color: white; cursor: pointer; text-decoration: underline;" href="mailto:biuro@gierusradca.pl"><span lang="pl-PL"><span style="background: transparent;">biuro@gierusradca.pl</span></span></a></p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Cel i podstawa prawna przetwarzania danych osobowych:</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">a) zgoda na przedstawienie oferty Kancelarii, wysyłkę newslettera z treściami prawnymi, informacjami o nowych wpisach blogowych (art. 6 ust. 1 lit. a RODO);</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">b) w zakresie realizacji umowy zawartej z Kancelarią (art. 6 ust. 1 lit. B RODO)</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">c) prawnie uzasadniony interes administratora w zakresie obsługi korespondencji&nbsp;<br>&nbsp;i odpowiedzi na pytania oraz prawnie uzasadniony interes administratora w postaci ustalenia, dochodzenia bądź obrony przed potencjalnymi roszczeniami (art. 6 ust. 1 lit. f RODO)</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Dane przetwarzane są jedynie przez okres konieczny dla realizacji celu, dla kt&oacute;rego zostały zebrane. Okres przetwarzania danych może być r&oacute;żny, w zależności do celu:</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">a) do czasu realizacji umowy Kancelarią,</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">b) do czasu udzielenia odpowiedzi na przesłaną wiadomość do Kancelarii,</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">c) do czasu odwołania zgody, w sytuacji gdy podstawą przetwarzania jest wyrażona zgoda;</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">d) do czasu zgłoszenia sprzeciwu wobec przetwarzania danych, w sytuacji gdy podstawą przetwarzania jest prawnie uzasadniony interes Administratora,</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">e) do czasu przedawnienia ewentualnych roszczeń,</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">f) do czasu cofnięcia zgody na otrzymywanie newslettera,</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">g) do czasu zakończenia wysyłki newslettera przez Kancelarię.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Za pośrednictwem formularza zapisu na newsletter zbieramy wyłącznie: adres e-mail użytkownika. Podanie adresu e-mail jest dobrowolne, ale niezbędne do otrzymywania newslettera.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">W związku z zgłoszeniem zgody na otrzymywanie wiadomości e-mail (newsletter) adresy e-mail przechowywane są:</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">a) do momentu wycofania zgody na ich przetwarzanie (np. wypisania się z newslettera),</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">b) lub do zakończenia działalności newslettera.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">W każdej chwili możesz wycofać zgodę, co nie wpływa na zgodność z prawem wcześniejszego przetwarzania.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Osoba, kt&oacute;rej dane dotyczą może żądać dostępu do danych osobowych, ich sprostowania, usunięcia czy ograniczenia przetwarzania.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Masz prawo do:</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">a) dostępu do swoich danych,</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">b) ich sprostowania,</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">c) żądania ich usunięcia (&bdquo;prawo do bycia zapomnianym&rdquo;),</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">d) ograniczenia przetwarzania,</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">e) wniesienia sprzeciwu,</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">f) cofnięcia zgody w dowolnym momencie,</p>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">g) wniesienia skargi do Prezesa UODO.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">W każdej chwili możesz zrezygnować z otrzymywania newslettera &ndash; wystarczy kliknąć w link wypisu w stopce każdej wiadomości lub napisać bezpośrednio na: <a style="color: white; cursor: pointer; text-decoration: underline;" href="mailto:biuro@gierusradca.pl">biuro@gierusradca.pl</a></p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Dane osobowe nie podlegają zautomatyzowanemu podejmowaniu decyzji, w tym profilowaniu w rozumieniu art. 22 RODO.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Dane nie są udostępniane osobom trzecim bez zgody os&oacute;b, kt&oacute;rych te dane dotyczą,&nbsp;<br>&nbsp;z wyjątkiem sytuacji wymaganych przepisami prawa.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Na Stronie Kancelarii znajdują się r&oacute;wnież odnośniki do innych stron. Zasady korzystania ze stron internetowych i zachowania prywatności użytkownik&oacute;w stron, do kt&oacute;rych użytkownik zostaje przekierowany za pomocą odnośnika, są zamieszczone na tych stronach.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Dane mogą być powierzane podmiotom technicznym obsługującym wysyłkę newslettera (np. dostawcy usług mailingowych), wyłącznie w zakresie niezbędnym do realizacji celu. Dane nie są przekazywane osobom trzecim ani poza Europejski Obszar Gospodarczy.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Kancelaria pozyskuje dane przetwarzane w postaci plik&oacute;w cookies. Kancelaria przechowuje zapytania http, kt&oacute;re są pobierane od użytkownik&oacute;w odwiedzających Stronę. Dane są wykorzystywane do administrowania Stroną Kancelarii i w celach marketingowych. Odwiedzający Stronę może zmienić ustawienia tak aby pliki cookies były blokowane. Wyłączenie plik&oacute;w cookies może spowodować niepoprawne działanie Strony Kancelarii.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Kancelaria stosuje odpowiednie środki techniczne i organizacyjne by dane osobowe były bezpieczne, w tym zabezpiecza dane przed nieuprawnionym dostępem, ich utratą lub zniszczeniem. W celu zapewnienia bezpieczeństwa danych osobowych zostały wdrożone odpowiednie zabezpieczenia personalne, organizacyjne, techniczne&nbsp;i fizyczne, w tym szyfrowanie połączenia (SSL), ochronę serwera i ograniczony dostęp do danych.</p>
              </li>
              <li>
                  <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;border: none;padding: 0cm;text-align: justify;">Kancelaria zastrzega prawo wprowadzenia zmiany w niniejszej Polityce Prywatności,&nbsp;<br>&nbsp;w szczeg&oacute;lności w celu jej dostosowania do wymog&oacute;w obowiązującego prawa, informując&nbsp;<br>&nbsp;o dokonanych zmianach na Stronie Kancelarii.</p>
              </li>
          </ol>
          <p style="margin-bottom: 0.25cm;background: transparent;line-height: 115%;border: none;padding: 0cm;text-align: justify;"><br>&nbsp;</p>
          <p style="margin-bottom: 0.25cm;background: transparent;line-height: 115%;border: none;padding: 0cm;text-align: justify;"><strong style="color: white">Dziękujemy za zaufanie. Twoje dane są u nas bezpieczne.</strong></p>

                  <p style="margin-bottom: 0.25cm;background: transparent;line-height: 115%;border: none;padding: 0cm;text-align: justify;">Stan na dzień 01.02.2024 r.</p>

          <p style="background: transparent;line-height: 115%;margin-bottom: 0cm;text-align: justify;"><br></p>
</body>

</html>
      </div>
      </section>
      <%- include('../views/components/contact.ejs'); -%>
        <%- include('../views/components/dependency.ejs'); -%>
  </body>

</html>